/*
  Name: Levent Ali
  Date: April 2010
  Description: Photographer's Portfolio
  Version: 1.0
  Author: Levent Ali
  Autor URI: http://purebreeze.com
*/

/* Imports */
@import url("reset.css");

/*@import url("global-forms.css");*/

/***** Global *****/
/* Body */
body {
  font-size: 87.5%; /* Base font size: 14px */
  line-height: 1.429;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

header, section, footer, aside {
  display: block;
}

h1 {
  font-size: 140%;
/*  padding: 0 20px;*/
}

h1 a {
  text-decoration: none;
  color: #000;
}

.body {
  margin: 0 auto;
  width: 1024px;
}


span.coming_soon {
  font-size: 0.6em;
  color: #ddd;
}

.current_photo {
  opacity: 0.5;
}

img.photo {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#photo_holder {
  height: 685px;
}

.loading {
  background: url(/images/spinner.gif) no-repeat center center;
}

#thumbnails img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

footer {
  font-size: 80%;
  padding: 20px;
  text-align: right;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: #13636F;
}

footer a:hover {
  color: #C72270;
}