<% if @photo %>
  <div id="photo_holder">
    <%= link_to image_tag(@photo.large_url, :title => @photo.title, :alt => @photo.title, :id => "photo_#{@photo.id}", :class => "photo"), photo_url(@photo.next) %>
  </div>
<% end %>

<div id="thumbnails">
  <% for photo in @thumbnails %>
    <%= link_to (image_tag photo.thumb_url, :title => photo.title, :alt => photo.title), photo_url(photo), :class => ("current_photo" if photo.cached_slug == params[:id]) %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('#photo_holder').addClass('loading');
  $('.photo').hide();
  $('.photo').load(function () {
    $(this).fadeIn(800);
    $('#photo_holder').removeClass('loading');
  });
</script>