<% if @photo %>
  <%= image_tag @photo.large_url, :title => @photo.title, :alt => @photo.title %>
<% end %>

<div id="thumbnails">
  <% for photo in @thumbnails %>
    <%= link_to (image_tag photo.thumb_url, :title => photo.title, :alt => photo.title), photo_url(photo), :class => ("current_photo" if photo.id.to_s == params[:id]) %>
  <% end %>
</div>