<% if @photo %>
  <div id="photo_holder">
    <%= image_tag @photo.large_url, :title => @photo.title, :alt => @photo.title, :id => "photo_#{@photo.id}", :class => "photo" %>
  </div>
<% end %>

<div id="thumbnails">
  <% for photo in @thumbnails %>
    <%= link_to (image_tag photo.thumb_url, :title => photo.title, :alt => photo.title), photo_url(photo), :class => ("current_photo" if photo.cached_slug == params[:id]) %>
  <% end %>
</div>